# CI for Chain on Linux Environment
name: Build Ternoa Client Linux

on:
  push:
    tags:
      - v1.*
  workflow_dispatch:
    inputs:
      ignoreLevel:
        description: 'Ignore'
        default: 'ignore'
        type: choice
        options:
        - ignore

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: self-hosted
    name: Build Binary Job
    steps:
    - uses: actions/checkout@v3

    - name: Build the Ternoa client
      run: /root/.cargo/bin/cargo build --release

    - name: Configure AWS credentials from Test account
      uses: s3-actions/s3cmd@v0
      with:
        provider: "aws"
        access_key: ${{ secrets.SW_ACCESS_KEY_ID }}
        secret_key: ${{ secrets.SW_SECRET_ACCESS_KEY }}
        region: fr-par
        
    - name: Copy Binary to Scaleway Bucket /chain/${GITHUB_REF##*/}/latest
      run: |
        s3cmd sync ./target/release/ternoa s3://ternoa/chain/${GITHUB_REF##*/}/linux/ternoa --host https://s3.fr-par.scw.cloud --host-bucket https://s3.fr-par.scw.cloud --acl-public

    - name: Copy Binary to Scaleway Bucket  ${{ github.sha }}.zip
      run: |
        s3cmd sync ./target/release/ternoa s3://ternoa/chain/${GITHUB_REF##*/}/linux/${{ github.sha }} --host https://s3.fr-par.scw.cloud --host-bucket https://s3.fr-par.scw.cloud --acl-public
        
    - name: Notify Ops
      uses: craftech-io/slack-action@v1
      with:
        slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always()
