name: Publish Docker Image

on:
  push:
    tags:
      - v1.*
  workflow_dispatch:
    inputs:
      ignoreLevel:
        description: 'Ignore'
        default: 'ignore'
        type: choice
        options:
        - ignore

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        
      - name: Build and push
        id:   docker_build
        uses: docker/build-push-action@v3
        with:
          push: true
          file: docker/Dockerfile
          tags: |
            ternoa/ternoa-chain:latest
            ternoa/ternoa-chain:${{ github.sha }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
