name: Run Benchmarks Manual

on:
  workflow_dispatch:
    inputs:
      runtime:
        description: 'Runtime'
        required: true
        type: choice
        options:
        - alphanet
        - mainnet
        - chaosnet

jobs:
  run-benchmarks:
    runs-on: self-hosted
    name: Run Benchmarks
    steps:
    - uses: actions/checkout@v3

    - name: Build the Ternoa client
      run: /root/.cargo/bin/cargo build --release --features runtime-benchmarks

    - name: Run benchmarks
      run: ./scripts/alphanet/run_benchmarks.sh

    - name: Switch to a new branch
      run: git checkout -b github/benchmarks

    - uses: EndBug/add-and-commit@v9
      with:
        default_author: github_actions

    