name: Run Benchmarks Manual

on:
  workflow_dispatch:
    inputs:
      runtime:
        description: 'Runtime'
        required: true
        type: choice
        options:
        - alphanet
        - mainnet
        - chaosnet

env:
  CARGO_TERM_COLOR: always
  Runtime: ${{ github.event.inputs.runtime }}


jobs:
  build-client:
    runs-on: build-machine
    name: Build Ternoa Client
    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust toolchain
        run: rustup show

      - name: Build the Ternoa client
        run: cargo build --release --features runtime-benchmarks

      - name: Share The Ternoa Client with the next job.
        uses: actions/upload-artifact@v3
        with:
          name: ternoa-client
          path: ./target/release/ternoa

  run-benchmarks:
    runs-on: min-spec
    name: Run Benchmarks
    steps:
      - name: Create client folder.
        run: mkdir -p target/release/

      - name: Download Ternoa Client from previous job.
        uses: actions/download-artifact@v3
        with:
          name: ternoa-client
          path: target/release/

      - name: Setup Rust toolchain
        run: rustup show

      - name: Run benchmarks
        run: ./scripts/benchmarks/"$Runtime"/run_benchmarks.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: generated-weights
          path: weights

    